* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  background-image: url("https://img2.goodfon.com/wallpaper/big/f/c7/tekstury-tekstura-seryy.jpg");
}

.container{
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

h1{
  color: white;
}



.marg{
  margin: 2rem;
}
