* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  background-image: url("https://static1.squarespace.com/static/5669c4a94bf118c75eb9c9cc/t/57d5d83cc534a520cf5b6c45/1473632317433/Modern-Black-Wallpaper-1024x640.jpg?format=1500w");
}

.container{
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

h1{
  color: white;
}



.marg{
  margin: 2rem;
}
